@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
    font-family: 'Ubuntu', sans-serif;
}

.navbar a {
    color: #ffffff !important;
}

.active {
    border-bottom: 2px solid #ffffff !important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
}

.fa-bars {
    color: #ffffff !important;
    font-size: 18px;
}

.btns {
    border: 1px solid #ffffff !important;
    border-radius: 2px !important;
}

.btns:hover {
    background-color: #ffffff !important;
    color: #000000 !important;
}